.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.column-full {
  flex-basis: 100%;
}

.hidden {
  display: none;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.align-baseline {
  align-items: baseline;
}

.wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

nav {
  height: 60px;
}

.menu {
  height: 40px;
}
