h1,
h2,
h3 {
  max-width: 300px;
  font-family: 'Archivo Black', serif;
  color: #000814;
  text-align: center;
}

h1 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.25rem;
  color: #003566;
}

header {
  position: relative;
}

p,
span,
label,
select {
  color: #000814;
  font-family: Archivo, serif;
  font-size: 1rem;
}

input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  padding-left: 10px;
}

input::placeholder {
  color: #c4c4c4;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'Archivo Black', serif;
}

.navbar {
  background-color: #001d3d;
}

.menu {
  width: 50px;
  border-radius: 5px;
  border: 1px solid rgb(22, 94, 167);
  background-color: #003566;
  margin: auto 10px auto 0;
}

.fitlog {
  padding: 10px;
}

.hamburger-links {
  width: 180px;
  position: absolute;
  right: 0;
  left: auto;
  border: none;
  background-color: #003566;
  color: white;
  z-index: 100;
}

.hamburger-links > a {
  font-family: Archivo, serif;
  font-size: 1rem;
}

.hamburger-links i {
  margin-bottom: 20px;
}

.nav-links > ul {
  display: none;
  list-style: none;
  gap: 40px;
  margin-right: 20px;
}

.nav-links a {
  font-size: 1.25rem;
  white-space: nowrap;
}

.search-bar {
  height: 30px;
  width: 250px;
}

.yellow-btn {
  height: 30px;
  font-size: 1.1rem;
  width: 80px;
  border: none;
  border-radius: 5px;
  background-color: #ffc300;
  color: white;
}

.yellow-btn:hover {
  background-color: #ffd60a;
}

.big-btn {
  width: 200px;
  margin: 0 auto;
}

.home {
  gap: 100px;
}

.card-list {
  width: 90%;
  margin: 20px auto;
  gap: 20px;
}

.card {
  width: 100%;
  padding: 10px;
  height: 120px;
  border: 1px solid rgba(128, 128, 128, 0.464);
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
}

.card-text {
  max-width: calc(100% - 100px);
}

.card-text > h3 {
  margin: 0 0 10px;
}

.details-title {
  text-align: center;
}

.title-container > i {
  font-size: 1.75rem;
  margin-right: 10px;
}

.details {
  position: relative;
}

.title-container {
  gap: 10px;
}

.details-img,
.details-text {
  width: calc(100% - 100px);
  max-width: 300px;
  max-height: 300px;
  object-fit: contain;
}

.details-img {
  margin-bottom: 30px;
}

.details-property {
  margin: 10px 0;
  color: #ffc300;
}

#details-description {
  margin-bottom: 20px;
}

#details-description > p {
  margin-bottom: 10px;
}

.blue-btn {
  font-size: 1.1rem;
  padding: 6px;
  border: none;
  border-radius: 5px;
  background-color: #003566;
  color: white;
}

.cta-btn {
  font-family: Archivo, serif;
}

.new-workout-container {
  gap: 30px;
}

.new-workout-form {
  max-width: 300px;
  gap: 20px;
}

.new-workout-form > button {
  width: 100%;
}

#num-days {
  width: 100px;
}

.form-items {
  gap: 6px;
}

@media only screen and (width >= 600px) {
  h1,
  h2,
  h3 {
    max-width: 400px;
  }

  .menu {
    display: none;
  }

  .nav-links > ul {
    display: flex;
  }

  .card-list {
    justify-content: space-between;
    margin-right: 0;
    margin-left: 0;
  }

  .card {
    width: calc(100% / 2.2);
  }

  #muscle-man-half {
    display: none;
  }

  .muscle-men {
    display: block;
  }

  .details-title {
    /* width: 100%; */
    text-align: center;
  }

  .details-text,
  .details-img {
    width: calc(50% - 40px);
    max-width: 400px;
    max-height: 400px;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media only screen and (width >= 800px) {
  h1,
  h2,
  h3 {
    max-width: 500px;
  }

  .details-img,
  .details-text {
    width: calc(50% - 40px);
    max-width: 400px;
    max-height: 400px;
  }
}

@media only screen and (width >= 1100px) {
  .card-list {
    justify-content: center;
  }

  .card {
    width: calc(100% / 3.5);
  }

  .details-img,
  .details-text {
    max-width: 400px;
    max-height: 400px;
  }
}
